--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_customer; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.api_customer (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    address text NOT NULL,
    tin_number character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_customer OWNER TO "enrico-e-commerce";

--
-- Name: api_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.api_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_order; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.api_order (
    id bigint NOT NULL,
    transaction_code character varying(50) NOT NULL,
    order_total numeric(10,2) NOT NULL,
    customer_id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.api_order OWNER TO "enrico-e-commerce";

--
-- Name: api_order_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.api_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_orderline; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.api_orderline (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT api_orderline_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.api_orderline OWNER TO "enrico-e-commerce";

--
-- Name: api_orderline_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.api_orderline ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_orderline_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_product; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.api_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    expiration_date date,
    CONSTRAINT api_product_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.api_product OWNER TO "enrico-e-commerce";

--
-- Name: api_product_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.api_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "enrico-e-commerce";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "enrico-e-commerce";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "enrico-e-commerce";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO "enrico-e-commerce";

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO "enrico-e-commerce";

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO "enrico-e-commerce";

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "enrico-e-commerce";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "enrico-e-commerce";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "enrico-e-commerce";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "enrico-e-commerce";

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.inventory (
    id bigint NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    location character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.inventory OWNER TO "enrico-e-commerce";

--
-- Name: inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.inventory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments_payment; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.payments_payment (
    id bigint NOT NULL,
    external_id character varying(255) NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency character varying(3) NOT NULL,
    payer_email character varying(254) NOT NULL,
    description text NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    payment_method character varying(50) NOT NULL
);


ALTER TABLE public.payments_payment OWNER TO "enrico-e-commerce";

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.payments_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skeleton_user; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.skeleton_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    company_id character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.skeleton_user OWNER TO "enrico-e-commerce";

--
-- Name: skeleton_user_groups; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.skeleton_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.skeleton_user_groups OWNER TO "enrico-e-commerce";

--
-- Name: skeleton_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.skeleton_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.skeleton_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skeleton_user_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.skeleton_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.skeleton_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skeleton_user_user_permissions; Type: TABLE; Schema: public; Owner: enrico-e-commerce
--

CREATE TABLE public.skeleton_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.skeleton_user_user_permissions OWNER TO "enrico-e-commerce";

--
-- Name: skeleton_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE public.skeleton_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.skeleton_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: api_customer; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: api_order; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: api_orderline; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: api_product; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$3rB4LjZiwzZPv2Rlehf8IE$C1SW2KnTDIS4HK5L/xsPIh7MVjV1Nrb3Z66q6c058yQ=	2025-02-11 14:58:36.166087+08	t	admin			pedrajetajr21@gmail.com	t	t	2025-02-10 16:35:26.692648+08
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	api	orderline
8	api	customer
9	api	order
10	api	product
11	skeleton	inventory
12	skeleton	customer
13	skeleton	product
14	skeleton	order
15	skeleton	orderline
16	skeleton	user
17	payments	payment
18	payments	xenditpayment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.inventory (id, product_id, quantity, location, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments_payment; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.payments_payment (id, external_id, amount, currency, payer_email, description, status, created_at, updated_at, payment_method) FROM stdin;
1	67cfe27468f6e30420fb231f	200000.00	PHP	test@example.com	Test Payment	PENDING	2025-03-11 15:12:52.616794+08	2025-03-11 15:12:52.616812+08	UNKNOWN
\.


--
-- Data for Name: skeleton_user; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--



--
-- Data for Name: skeleton_user_groups; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.skeleton_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: skeleton_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: enrico-e-commerce
--

COPY public.skeleton_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: api_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.api_customer_id_seq', 31, true);


--
-- Name: api_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.api_order_id_seq', 61, true);


--
-- Name: api_orderline_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.api_orderline_id_seq', 65, true);


--
-- Name: api_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.api_product_id_seq', 37, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.inventory_id_seq', 1, false);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 1, true);


--
-- Name: skeleton_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.skeleton_user_groups_id_seq', 1, false);


--
-- Name: skeleton_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.skeleton_user_id_seq', 3, true);


--
-- Name: skeleton_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: enrico-e-commerce
--

SELECT pg_catalog.setval('public.skeleton_user_user_permissions_id_seq', 1, false);


--
-- Name: api_customer api_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_customer
    ADD CONSTRAINT api_customer_pkey PRIMARY KEY (id);


--
-- Name: api_customer api_customer_tin_number_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_customer
    ADD CONSTRAINT api_customer_tin_number_key UNIQUE (tin_number);


--
-- Name: api_order api_order_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_pkey PRIMARY KEY (id);


--
-- Name: api_order api_order_transaction_code_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_transaction_code_key UNIQUE (transaction_code);


--
-- Name: api_orderline api_orderline_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_orderline
    ADD CONSTRAINT api_orderline_pkey PRIMARY KEY (id);


--
-- Name: api_product api_product_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_product
    ADD CONSTRAINT api_product_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (id);


--
-- Name: payments_payment payments_payment_invoice_id_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.payments_payment
    ADD CONSTRAINT payments_payment_invoice_id_key UNIQUE (external_id);


--
-- Name: payments_payment payments_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.payments_payment
    ADD CONSTRAINT payments_payment_pkey PRIMARY KEY (id);


--
-- Name: skeleton_user_groups skeleton_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_groups
    ADD CONSTRAINT skeleton_user_groups_pkey PRIMARY KEY (id);


--
-- Name: skeleton_user_groups skeleton_user_groups_user_id_group_id_806c5ad4_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_groups
    ADD CONSTRAINT skeleton_user_groups_user_id_group_id_806c5ad4_uniq UNIQUE (user_id, group_id);


--
-- Name: skeleton_user skeleton_user_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user
    ADD CONSTRAINT skeleton_user_pkey PRIMARY KEY (id);


--
-- Name: skeleton_user_user_permissions skeleton_user_user_permi_user_id_permission_id_07e11dd5_uniq; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_user_permissions
    ADD CONSTRAINT skeleton_user_user_permi_user_id_permission_id_07e11dd5_uniq UNIQUE (user_id, permission_id);


--
-- Name: skeleton_user_user_permissions skeleton_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_user_permissions
    ADD CONSTRAINT skeleton_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: skeleton_user skeleton_user_username_key; Type: CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user
    ADD CONSTRAINT skeleton_user_username_key UNIQUE (username);


--
-- Name: api_customer_tin_number_e6e9711c_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX api_customer_tin_number_e6e9711c_like ON public.api_customer USING btree (tin_number varchar_pattern_ops);


--
-- Name: api_order_customer_id_8cb4e7b7; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX api_order_customer_id_8cb4e7b7 ON public.api_order USING btree (customer_id);


--
-- Name: api_order_transaction_code_9015e234_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX api_order_transaction_code_9015e234_like ON public.api_order USING btree (transaction_code varchar_pattern_ops);


--
-- Name: api_orderline_order_id_121bc220; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX api_orderline_order_id_121bc220 ON public.api_orderline USING btree (order_id);


--
-- Name: api_orderline_product_id_449bf210; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX api_orderline_product_id_449bf210 ON public.api_orderline USING btree (product_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: payments_payment_invoice_id_a1a432c8_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX payments_payment_invoice_id_a1a432c8_like ON public.payments_payment USING btree (external_id varchar_pattern_ops);


--
-- Name: skeleton_user_groups_group_id_e585d81f; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX skeleton_user_groups_group_id_e585d81f ON public.skeleton_user_groups USING btree (group_id);


--
-- Name: skeleton_user_groups_user_id_65a6fec1; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX skeleton_user_groups_user_id_65a6fec1 ON public.skeleton_user_groups USING btree (user_id);


--
-- Name: skeleton_user_user_permissions_permission_id_9f423da7; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX skeleton_user_user_permissions_permission_id_9f423da7 ON public.skeleton_user_user_permissions USING btree (permission_id);


--
-- Name: skeleton_user_user_permissions_user_id_6bb461b0; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX skeleton_user_user_permissions_user_id_6bb461b0 ON public.skeleton_user_user_permissions USING btree (user_id);


--
-- Name: skeleton_user_username_76880d20_like; Type: INDEX; Schema: public; Owner: enrico-e-commerce
--

CREATE INDEX skeleton_user_username_76880d20_like ON public.skeleton_user USING btree (username varchar_pattern_ops);


--
-- Name: api_order api_order_customer_id_8cb4e7b7_fk_api_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_order
    ADD CONSTRAINT api_order_customer_id_8cb4e7b7_fk_api_customer_id FOREIGN KEY (customer_id) REFERENCES public.api_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_orderline api_orderline_order_id_121bc220_fk_api_order_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_orderline
    ADD CONSTRAINT api_orderline_order_id_121bc220_fk_api_order_id FOREIGN KEY (order_id) REFERENCES public.api_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_orderline api_orderline_product_id_449bf210_fk_api_product_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.api_orderline
    ADD CONSTRAINT api_orderline_product_id_449bf210_fk_api_product_id FOREIGN KEY (product_id) REFERENCES public.api_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: skeleton_user_groups skeleton_user_groups_group_id_e585d81f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_groups
    ADD CONSTRAINT skeleton_user_groups_group_id_e585d81f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: skeleton_user_groups skeleton_user_groups_user_id_65a6fec1_fk_skeleton_user_id; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_groups
    ADD CONSTRAINT skeleton_user_groups_user_id_65a6fec1_fk_skeleton_user_id FOREIGN KEY (user_id) REFERENCES public.skeleton_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: skeleton_user_user_permissions skeleton_user_user_p_permission_id_9f423da7_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_user_permissions
    ADD CONSTRAINT skeleton_user_user_p_permission_id_9f423da7_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: skeleton_user_user_permissions skeleton_user_user_p_user_id_6bb461b0_fk_skeleton_; Type: FK CONSTRAINT; Schema: public; Owner: enrico-e-commerce
--

ALTER TABLE ONLY public.skeleton_user_user_permissions
    ADD CONSTRAINT skeleton_user_user_p_user_id_6bb461b0_fk_skeleton_ FOREIGN KEY (user_id) REFERENCES public.skeleton_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

